.box {
    height: 150px;
    width: 150px;
    border: solid;
    border-width: 3px;
    display: inline-block;
    margin: 3px;
       
}

.box p {
    font-family: segoe ui;
}

#colors,
#fonts {
    font-family: Merriweather, Georgia, serif;
    text-align: center;
       
}
.caption {
    display: inline-block;
    position: relative;
    top: 150px;
    text-align: center;
    font-family: Merriweather, Georgia, serif !important;
    
}

#colors h2,
#fonts h2 {
    font-size: 50px;
    text-align: left;
    position: relative;
    left: 215px;
        
}

#colors h4 {
    font-weight: bold;
}

.red {
    background-color: #E27D60;
        
}

.lightblue {
    background-color: #85CCCC;
}

.orange {
    background-color: #E8A87C;
}

.pink {
    background-color: #C38D9E;
}

.green {
    background-color: #41B3A3;
}